.Layout {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.Content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  flex: 1;
  /* background-color: bisque; あとで消す */
}

.Footer {
  width: 100%;
  text-align: center;
}